@media (max-width: 1030px)
{
   /*home CSS */

   .home .home-banner-1,
   .home .home-banner-2,
   .home .home-banner-3{
    background-position: 65% center;
    min-height: 550px;
   }

   .home .home-banner .home-banner-text{
    transform: translate(-80%,-50%);
   }

   .offers .offer-box .offer-info .heading-bigger{
    font-size: 3rem;
   }
}





@media (max-width: 991px)
{
    /* home CSS */
    .home .home-banner .home-banner-text{
        transform: translate(-66% ,-50%);
    }
   
     /* special CSS */
    .special .countdown{
        padding-top: 1rem;
        padding-bottom: 5rem;
    }

    .footer .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .col-sm-12 {
        margin-bottom: 20px;
    }

    .footer h5 {
        margin-top: 20px;
    }

    .footer .social-icons i {
        font-size: 20px; /* Slightly smaller icons on smaller screens */
    }
}




@media (max-width: 767px)
{
    /* home CSS */
    .home .home-banner-1,
   .home .home-banner-2,
   .home .home-banner-3{
    background-position: 50% center;
    min-height: 450px;
   }

   .home .home-banner .home-banner-text{
    text-align: center;
    width: 100%;
    transform: translate(-50%,-50%);
   }

   .home .home-banner .home-banner-text h1{
    font-size: 3rem;
   }

   .home .home-banner .home-banner-text h2{
    font-size: 1.2rem;
   }
   
   .home .home-banner .home-banner-text .btn-info{
    font-size: 2rem;
   }

   .product .uup_to_content h2{
    font-size: 0.75rem;
   }

   .special{
    padding:4rem 0;
   }

   .special .countdown .countdown-counter li{
    padding:1rem;
    width: 20%;
   }

   .footer .social-icons {
    justify-content: center;
}

.footer .social-icons i {
    margin: 0 5px; 
}

}



@media (max-width: 330px)
{
    /* home CSS */
    .home .home-banner .home-banner-text h2{
        font-size: 1rem;
    }

    .product .uup_to_content h2{
        font-size: 0.75rem;
       }

       .reviews{
        margin-top: 5rem;
       }

       .footer h5 {
        font-size: 1rem; /* Smaller font size for headings on very small screens */
    }

    .footer li, .footer p {
        font-size: 0.9rem; /* Smaller font size for text on very small screens */
    }
}


