@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{

    /*background styles*/
    --bg-primary: royalblue;
    --bg-warning: orange;
    --bg-white: white;
    --bg-litewhite: azure;

    /* Text Styles */
    --primary-font: "Antic Didone", serif;
    --text-white: white;
    --text-black: black;
    --text-warning:orange;
    --text-primary: royalblue;
    --text-grey: grey;
    --text-dark-grey: rgb(75, 72, 72);
}

body{
    font-family: var(--primary-font) ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    background-color: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}

a:hover{
    text-decoration: none;
}

p{
    margin: 0;
}

.btn-info{

    border-color: var(--text-warning);
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.btn-info:hover{
    color: var(--text-black);
    background: white;
}

.nav-search{
    font-family: "Work Sans", sans-serif;
}

/*Navigation css */

#header .fixed-top{
    box-shadow: 0 0.125rem 0.675rem rgb(75 72 72 / 14%);
}

#header .navbar-nav {
        font-size: 1.1rem;
        margin-left: 9rem;
        font-weight: 550;    
}

#header .navbar-nav .nav-item{
 margin-right: 1.5rem;
}

#header .navbar-nav .nav-item .nav-link{
    color: var(--text-black);
    padding: 0.5rem,1rem;
    text-align: center;
}

#header  .navbar-brand{
   margin-left: 2rem;
   margin-bottom: 0.5rem;
}

#header  .search{
    margin-right: 2rem;
}

#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link:active{
    color: var(--bg-warning);
}

#header .navbar-toggler-icon{
    width:unset;
    height:unset;
}

#header .navbar-toggler:focus{
    box-shadow: none;
}


/*Home css */
.home .home-banner-1,
.home .home-banner-2,
.home .home-banner-3{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 90% center;
    min-height: 600px;
    position: relative;
   
}

.home .home-banner-1{
    background-image: url(../Images/banner/women3.jpg);
}

.home .home-banner-2{
    background-image: url(../Images/banner/men2.jpg);
}

.home .home-banner-3{
    background-image: url(../Images/banner/kids3.jpg);
}

.home .home-banner .home-banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%,-50%);
}

.home .home-banner .home-banner-text h1{
    font-size: 6rem;
    color: var(--bg-white);
    font-weight: 595;
    text-shadow: 0px 6px 10px black,0 3px 1dvh rgb(26, 25, 25);
}

.home .home-banner .home-banner-text h2{
    color: var(--bg-white);
    text-shadow: 0 2px 2px rgb(1, 1, 1);
    font-weight: 400;
}

.offers{
    padding-top: 8.75rem;
}

.offers .offer-box .offer-image::before{
    position: absolute;
    content:'';
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(to right,rgba(255,255,255,0) 0% , rgba(255,255,255,0.3)100%);
    background: linear-gradient(to right,rgba(255,255,255,0) 0% , rgba(255,255,255,0.3)100%);
    transform: skewX(-25deg);
}

.offers .offer-box .offer-image img{
    transform: scale(1.02);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offers .offer-box:hover .offer-image::before{
    animation: effect_shine 1s;
}

@keyframes effect_shine{
    100%{
        left: 150%;
    }
}

.offers .offers-overlay::before{
    content: '';
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:100%;
    background: rgb(41, 39, 39,0.4);
    z-index: 1;
}

.offers .offer-box .offer-info{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition:all 250ms ease-out;
    justify-content: center;
    align-items: center;
}

.offers .offer-box .offer-info .heading-bigger{
    font-size: 3.37rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
    color: var(--text-white);
}

.offers .offer-box .offer-info offer-title-1{
    color: var(--text-white);
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: 6px;
}

.offers .offer-box .offer-info .btn-outline-warning{
    color: var(--text-white);
    border-color: gold;
    transition: all 0.3s ease-in-out;
}

.offers .offer-box .offer-info .offer-title-1{
    color: var(--text-white);
}

.products{
    padding-top: 8.75rem;
}

.headline h2::before{
    content: '';
    width: 30%;
    height: 0.125rem;
    background-color: var(--bg-primary);
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50% , -50%);
    border-radius: 0.0625rem;
}

.products a{
    text-decoration: none;
    color: var(--text-black);
}

.product-list .product-image img{
    transition: all 500ms ease-in-out;
}

.product-list .product-image .product-image-secondary{
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
}

.product-list .product-image:hover .product-image-secondary{
    opacity: 1;
}

.product-list .product-image .sale{
    background:var(--bg-primary);
    border-radius: 0.313rem;
    color: var(--text-white);
    font-size: 0.813rem;
    letter-spacing: 0.125rem;
    line-height: 1.536rem;
    padding: 0.125rem 0.813rem;
    text-transform: uppercase;
    position: absolute;
    left:1rem;
    top:1.188rem;
    z-index: 99;
}

.product-list .product-name h3:hover{
    color: var(--text-warning);
}

.product-list .product-name .amount{
    color: var(--text-warning);
    font-weight: 500;
}

.product-list .product-name .amount del{
    color: var(--text-grey);
}

.product-list .product-name .ti-star{
    color: var(--text-grey);
}

.product-list .product-name .ti-star.active{
    color: var(--bg-warning);
}

.product-list .product-name .add_to_cart
{
    background: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

.product-list .product-name .add_to_cart:hover{
    color: var(--text-warning);
}

.products .up_to_off{
    position: relative;
}

.products .up_to_off::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    cursor: pointer;
    transition: 0.5s;
}

.products .up_to_off img{
    transform: 0.5s;
}

.products .up_to_off:hover img{
    transform: scale(1.1);
}

.products .up_to_content h2{
  
  color: var(--text-white);
  font-size: 1.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.special{
    padding:6rem 0;
    background-color: var(--bg-white);
}

.special .countdown{
    padding-top: 4.375rem;
}

.special .countdown p{
    color: var(--text-grey);
    font-weight: 100;
    line-height: 1.875rem;
}

.special .countdown .countdown-counter{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    margin-bottom: 1.875rem;
}

.special .countdown .countdown-counter li{
    display: inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    background: var(--bg-white);
    border-radius: 0.313rem;
    padding: 2rem 1rem;
    width:15%;
    margin: 0 0.313rem;
}

.special .countdown .countdown-counter li span{
    font-weight: 500;
}

.special .countdown .countdown-price del{
    color: var(--text-grey);
    font-size: 1rem;
}

.special .special-img span{
    background: var(--bg-warning);
    border-radius: 0.313rem;
    color: var(--bg-white);
    font-size: 0.813rem;
    letter-spacing: 0.125rem;
    line-height: 1.563rem;
    padding: 0.125rem 0.813rem;
    text-transform: uppercase;
    position: absolute;
    left: 1rem;
    top: 1.188rem;
    z-index: 99;
}

.reviews{
    padding: 8rem 0 4rem;
}

.reviews .reviews-wrapper{
    box-shadow: 0 0 0.563rem 0 rgba(0, 0, 0 / 5%);
    background: var(--bg-white);
    margin: auto;
    padding: 1rem 5rem;
    border:0.063rem solid var(--bg-litewhite);
    border-radius: 0.625rem;
}

.reviews .reviews-wrapper img{
    border-radius: 100%;
    width: 6.5rem;
    height: 5rem;
    margin: 1.25rem auto;
    object-fit: cover;
    background-color: var(--bg-white);
    border:0.063rem solid var(--bg-litewhite);
}

.reviews .reviews-wrapper span{
    color: var(--text-grey);
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1rem 0;
    display: block;
}

.reviews .reviews-wrapper p{
    color: var(--text-grey);
    font-size: 0.8rem;
    font-weight: 300;
}

.contact{
    padding: 4rem 0;
    background-color: var(--bg-white);
}

.contact .info li p a{
    font-size: 1rem;
    display: inline-block;
    margin: 0.75rem 0;
    color: var(--text-black);
}

.contact .form-group{
    margin-bottom: 1.5rem;
}

.contact .form-control{
    height: 3.75rem;
    padding: 0.375rem 1.1875rem;
    border:none;
    font-size: 1rem;
    box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 15%);
}

.contact .textarea{
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem 1.1875rem;
    border:none;
    font-size: 1rem;
    margin-top: 0.3125rem;
    box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 15%);
}

.contact .textarea:focus{
    outline: none;
    border: none;
}


.footer {
    background-color: var(--bg-litewhite);
    color: var(--text-grey);
    padding: 40px 0;
    text-align: center;
}

.footer .container {
    max-width: 1200px; /* Adjust based on your preference */
    margin: auto; /* Centers the container */
    padding: 0 20px; /* Optional: Adds horizontal padding for smaller screens */
}

.footer .row {
    justify-content: center; /* Centers the columns in the row */
    flex-wrap: wrap; /* Allows items to wrap as needed */
}

.footer h5 {
    color: var(--text-primary);
    margin-bottom: 20px;
}

.footer ul {
    list-style-type: none;
    padding-left: 0;
}

.footer li {
    margin-bottom: 10px;
}

.footer .social-icons {
    display: flex;
    justify-content: center; /* Centers the social icons */
    gap: 20px; /* Adds space between social icons */
}

.footer .social-icons i {
    font-size: 24px;
    color: var(--text-primary);
    transition: color 0.3s ease;
}

.footer .social-icons i:hover {
    color: var(--text-warning);
}

.footer a {
    color: var(--text-grey);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--text-primary);
}

#scrollup{
    position: fixed;
    right: 2%;
    bottom: 3%;
    height: 2.813rem;
    width: 2.5rem;
    border-radius: 0.25rem;
    text-align: center;
    cursor:pointer;
    z-index: 500;
    display: none;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background: var(--bg-warning);
}

#scrollup span{
    line-height: 2.625rem;
}


#scrollup.scrollActive{
    display: block;
}